.table {
  margin: 5rem auto 0 auto;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  border: 1px black solid;
}

/* increases spacing between thead and tbody */
.table tbody:before {
  line-height: 2em;
  content: ".";
  color: #eee;
  display: block;
}

.table-container {
  display: flex;
  max-width: 120rem;
  margin: 0 auto;
}
