.slider {
  width: 90%;
  margin: auto;
  background-color: #fff;
}

.anime-row {
  padding: 0.5rem;
  max-width: 130rem;
  margin: 0 auto;
}

.anime-row__title {
  font-size: 2rem;
  padding: 1rem;
  color: purple;
}

.hidden {
  display: none;
}
