.anime-item {
  position: relative;
  cursor: pointer;
  color: black;
  font-weight: 600;
}

.anime-item__title-container {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.anime-item__title {
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
  padding: 1rem;
  color: purple;
}

.anime-img__container {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.anime-item__img {
  height: 30rem;
  padding: 0.5rem;
  object-fit: contain;
  border-radius: 5px;
}

@media only screen and (max-width: 1550px) {
  .anime-item__img {
    height: 25rem;
  }
}

@media only screen and (max-width: 1250px) {
  .anime-item__img {
    height: 20rem;
  }
}

.anime-item__full-name {
  position: absolute;
  font-size: 1.4rem;
  color: red;
  top: 0;
  right: 0;
  left: 0;
  background-color: black;
  padding: 2rem;
  opacity: calc(85%);
  text-align: center;
  width: 100%;
}

.hidden {
  display: none;
}
