@import url("../../vars.css");

.form {
  height: 60vh;
  width: 100%;
  margin-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form__container {
  display: flex;
  border: 2px black solid;
  flex-direction: column;
  min-width: 30%;
  text-align: center;
  background-color: var(--color-primary);
  padding: 3rem;
  border-radius: 10px;
}

.form__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.form__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: black;
}

.form__switch-form {
  font-size: 1.5rem;
  color: white;
}

.form__switch-form > a {
  font-size: 1.5rem;
  color: var(--color-link-light);
}
