@import url("../../vars.css");

.anime-details {
  display: flex;

  max-width: 120rem;
  font-size: 2rem;
  margin: 3rem auto 0 auto;
  background-color: #fff;
  height: fit-content;
  padding-bottom: 2rem;
}

.anime-details-left {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border: 1px #111 solid;
  padding: 2rem;
}

.anime-details-left > * {
  padding: 1rem;
}

.anime-details__img {
  max-width: 30rem;
  margin: 0 auto;
}

.anime-details__list {
  padding: 1rem;
  font-size: 2rem;
  border-bottom: 1px purple solid;
  border-top: 1px purple solid;
}

.anime-details__list > *:not(:last-child) {
  padding-bottom: 0.5rem;
}

.anime-details-right {
  width: 90%;
  padding: 1rem;
  position: relative;
}

.anime-details__title {
  font-size: 3rem;
  font-weight: bold;
  padding: 0.5rem;
  display: inline-block;
  width: 100%;
  border-bottom: 1px gray solid;
}

.anime-details__alt-title {
  margin-top: 1rem;
  border-bottom: 1px gray solid;
}

.anime-details__desc {
  width: 95%;
  margin-top: 1rem;
}

span {
  font-weight: bold;
  margin-right: 2px;
}

.anime-details__form-container {
  padding: 0;
  /* align-self: flex-end;
  margin: 2rem 0 0 auto; */
}

.anime-details__form-container {
  padding: 0;
  /* align-self: flex-end;
  margin: 2rem 0 0 auto; */
}

.anime-details__login-prompt {
  font-weight: bold;
  margin-top: 1rem;
  font-size: 1.8rem;
}

.anime-details__login-prompt > a {
  color: var(--color-link-dark);
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

.similiar-anime__container {
  margin-top: 5rem;
}

@media only screen and (max-width: 70rem) {
  .anime-details {
    flex-direction: column;

    align-items: center;
    background-color: #eee;
  }

  .anime-details-left {
    padding: 1rem 0 0 0;
    position: relative;
    width: 55%;
    background-color: #fff;
    padding: 0;
  }

  .anime-details__login-prompt {
    text-align: center;
    border-top: 1px black solid;
    padding: 1rem 0 1rem 0;
    font-size: 2rem;
  }

  .test {
    display: flex;
    padding: 0;
    flex-direction: row;
  }

  .anime-details__img {
    border-right: 5px purple solid;
  }

  .anime-details__form-container {
    margin: auto auto;
    width: 100%;
    flex: 1 1 0;
  }
  .anime-details__list {
    border: none;
  }

  .anime-details__img {
    max-width: 20rem;
  }

  .similiar-anime__container {
    max-width: none;
  }
}

@media only screen and (max-width: 55rem) {
  .anime-details {
    margin-top: 1rem;
  }
  .anime-details-left {
    max-width: 70%;
  }
}

@media only screen and (max-width: 40rem) {
  .anime-details-left {
    width: 90%;
    max-width: none;
  }
}
