.anime-details {
  display: flex;
  max-width: 120rem;
  font-size: 2rem;
  margin: 3rem auto 0 auto;
  background-color: #fff;
  height: fit-content;
  padding-bottom: 2rem;
}

.anime-details-left {
  display: flex;
  flex-direction: column;
  border: 1px #000 solid;
  padding: 2rem;
}

.anime-details-left > * {
  padding: 1rem;
}

.anime-details__img {
  max-width: 30rem;
  margin: 0 auto;
}

.anime-details__list {
  padding: 1rem;
  font-size: 2rem;
  border-bottom: 1px #888 solid;
  border-top: 1px #888 solid;
}

.anime-details__list > *:not(:last-child) {
  padding-bottom: 0.5rem;
}

.anime-details-right {
  width: 90%;
  padding: 1rem;
  position: relative;
}

.anime-details__title {
  font-size: 3rem;
  font-weight: bold;
  padding: 0.5rem;
  display: inline-block;
  width: 100%;
  border-bottom: 1px gray solid;
}

.anime-details__alt-title {
  margin-top: 1rem;
  border-bottom: 1px gray solid;
}

.anime-details__desc {
  width: 95%;
  margin-top: 1rem;
}

.slider-container {
  max-width: 120rem;
  background-color: lightblue;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}

.slider {
  margin-top: 1rem;
}

span {
  font-weight: bold;
  margin-right: 2px;
}

.form-container {
  padding: 0;
  align-self: flex-end;
  margin: 2rem 0 0 auto;
}
/* .form-container {
  position: absolute;
  bottom: 0;
  right: 0;
} */

/* .similiar-anime__container {
  max-width: 100%;
} */
@media only screen and (max-width: 60rem) {
  .anime-details {
    flex-direction: column;
    align-items: center;
  }

  .anime-details-left {
    text-align: center;
    align-items: center;
    flex-direction: row;
    padding: 1rem 0 0 0;
    position: relative;
    width: 80%;
  }
  .anime-details__list {
    align-self: flex-start;
    text-align: left;
    margin: 2.5rem 0 0 0rem;
  }

  .anime-details__img {
    max-width: 20rem;
  }
}
