.anime-item {
  position: relative;
  cursor: pointer;
  color: black;
  font-weight: 600;
}

.anime-item__title {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
}

.anime-img__container {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.anime-item__img {
  height: 20rem;
  padding: 0.5rem;
  object-fit: contain;
}

.anime-item__full-name {
  position: absolute;
  font-size: 1.4rem;
  color: red;
  top: 0;
  right: 0;
  left: 0;
  background-color: black;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.hidden {
  display: none;
}
