@import "./../vars.css";

.slider {
  width: 86%;
  margin: auto;
}

.anime-row {
  max-width: 140rem;
  padding: 0.5rem;
  margin: 2rem auto;
  background-color: white;
  /* box-shadow: 12px 20px 10px -19px rgba(66, 68, 90, 1); */
  box-shadow: 12px 20px 10px -19px rgba(66, 68, 90, 1);
}

.anime-row--small {
  padding: 0.5rem;
  text-align: center;
  max-width: 75rem;
  margin: 0rem auto;
}

.anime-row__title {
  font-size: 2.35rem;
  font-weight: 500;
  border: 1px #862e9c solid;
  background-color: var(--color-primary);
  padding: 1.25rem;
  margin-bottom: 1rem;
  color: #fff;
}

.anime-row__loading {
  font-size: 1.7rem;
}

.anime-row__empty {
  margin-top: 3.5rem;
}

.hidden {
  display: none;
}
