.footer {
  display: flex;
  align-items: center;
  height: 2.5rem;
  padding: 1rem;
  color: white;
  background-color: purple;
  margin-top: auto;
  border-top: 2px #000 solid;
}

.footer__text {
  margin-left: 3rem;
  font-size: 1.5rem;
}
