@import url("../vars.css");

.header {
  min-height: 5rem;
  background-color: #fff;
  border-bottom: 5px black solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  /* background-image: linear-gradient(315deg, #fad0c4 0%, #f1a7f1 74%); */
  background-color: #9c2e7b;
}

.logo {
  cursor: pointer;
  padding: 1rem;
  color: #333;
  color: #fff;
  /* color: #1864ab; */
  font-size: 3rem;
  margin-left: 5rem;
}

.header__input {
  display: flex;
  padding: 0.5rem;
  margin: 0 2rem 0 2rem;
  flex: 0 1 40rem;
}

.buttons {
  display: flex;
  gap: 1.5rem;
  margin-right: 5rem;
}

.button {
  background-color: white;
  color: black;
  border: 1px black solid;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  padding: 1rem 1.8rem;
}
/* .logout,
.register {
  margin-right: 5rem;
} */

@media only screen and (max-width: 56.25rem) {
  .header {
    flex-direction: column;
  }
  .logo {
    margin: 0 auto;
  }
  .header__input {
    width: 80%;
    flex-basis: 2rem;
    text-align: center;
    margin: 0 auto;
  }
  .buttons {
    order: 2;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    padding: 1rem;
  }
  .button {
    padding: 1rem 3rem;
  }
}
